
  
* {
  user-select: none;
}

:root {
  --black-fundo: #171F23;
  --black-destaq: #2C3539;
  --black-border: #2C3539;
  --white-fundo: #FCFFFF;
  --text-primary: #FCFFFF;
  --text-secondary: #C1C5C7;
  --black-shadow: #171F2380;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: var(--text-primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-secondary);
}

h1, h2, h3, h4, h5, p {
  color: var(--text-primary) !important;
  letter-spacing: 0.04rem;
}
h4 {
  font-size: 14px !important;
}
h2 {
  font-size: 18px !important;
}
h5 {
  font-size: 12px !important;
  color: var(--text-secondary) !important;
}

.open_modal_animation {
	transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    -moz-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    -o-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;

	background-color: rgba(0, 0, 0, 0.5) !important;
	transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.open_modal_animation > :nth-child(1) {
	transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    -moz-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    -o-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
	
	transform: translateY(0px) !important;
	transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.icon-svg {
  width: 18px;
  height: 18px;
  color: var(--text-primary);
}

.icon-svg-lg {
  width: 26px;
  height: 26px;
  color: var(--text-primary);
}

.icon-svg-sx {
  width: 14px;
  height: 14px;
  color: var(--text-primary);
}

.icon-svg-side {
  width: 16px;
  height: 16px;
}


body {
    background-color: #F5F7FA !important;
  }
  

  .main {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 95vw !important;
      margin: 0px 10px !important;
      max-width: 1400px !important;
      height: auto;
      box-shadow: 0px 0px 30px #161a1f67 !important;
      overflow: hidden;
  }
  
  
  /* 
  @property --rotate {
      syntax: "<angle>";
      initial-value: 132deg;
      inherits: false;
    }
    
    :root {
      --card-height: 800px;
      --card-width: 1480px;
    }
    
  
    .card {
      width: var(--card-width);
      height: var(--card-height);
      padding: 3px;
      position: absolute;
      border-radius: 6px;
      justify-content: center;
      align-items: center;
      text-align: center;
      display: flex;
      font-size: 1.5em;
      color: rgb(88 199 250 / 0%);
      cursor: pointer;
      font-family: cursive;
    }
    
    .card::before {
      content: "";
      width: 104%;
      height: 102%;
      border-radius: 8px;
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
    }
    
    .card::after {
      position: absolute;
      content: "";
      top: -40px;
      left: -200px;
      right: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      transform: scale(0.8);
      filter: blur(calc(var(--card-height) / 6));
      background-image: linear-gradient(
        var(--rotate),
        #5ddcff,
        #3c67e3 43%,
        #4e00c2
      );
      opacity: 0.3;
      transition: opacity 0.5s;
      animation: spin 2.5s linear infinite;
    }
    
    @keyframes spin {
      0% {
        --rotate: 0deg;
      }
      100% {
        --rotate: 360deg;
      }
    }
    
    a {
      color: #212534;
      text-decoration: none;
      font-family: sans-serif;
      font-weight: bold;
      margin-top: 2rem;
    }
     */
    .black-scroll {
      overflow-y: scroll;
    }
    .black-scroll::-webkit-scrollbar {
      width: 5px;
    }
    
    /* Track */
    .black-scroll::-webkit-scrollbar-track {
      background: transparent;
    }
    
    /* Handle */
    .black-scroll::-webkit-scrollbar-thumb {
      border-radius: 30px;
      background: var(--black-destaq);
    }
    
    /* Handle on hover */
    .black-scroll::-webkit-scrollbar-thumb:hover {
      background: var(--black-shadow);
    }