.fluent-style > * {
    --neutral-layer-card-container: #f3f3f3;
    --neutral-layer-floating: #ffffff;
    --neutral-layer-1: #fbfbfb;
    --neutral-layer-2: #f3f3f3;
    --neutral-layer-3: #ebebeb;
    --neutral-layer-4: #e0e0e0;
    --fill-color: #ffffff;
    --accent-fill-rest: var(--black-fundo);
    --accent-fill-hover: #0478d3;
    --accent-fill-active: #0486e7;
    --accent-fill-focus: #036ec9;
    --accent-foreground-rest: #024094;
    --accent-foreground-hover: #023284;
    --accent-foreground-active: #0365be;
    --accent-foreground-focus: #024094;
    --accent-stroke-control-rest: linear-gradient(#1c7dce 90%, #024c8b 100%);
    --accent-stroke-control-hover: linear-gradient(#1b84d7 90%, #035596 100%);
    --accent-stroke-control-active: #1d92e9;
    --accent-stroke-control-focus: linear-gradient(#1c7dce 90%, #024c8b 100%);
    --neutral-fill-rest: #ffffff;
    --neutral-fill-hover: #fbfbfb;
    --neutral-fill-active: #ffffff;
    --neutral-fill-focus: #ffffff;
    --neutral-fill-input-rest: #ffffff;
    --neutral-fill-input-hover: #fbfbfb;
    --neutral-fill-input-active: #ffffff;
    --neutral-fill-input-focus: #ffffff;
    --neutral-fill-input-alt-rest: #f7f7f7;
    --neutral-fill-input-alt-hover: #efefef;
    --neutral-fill-input-alt-active: #e5e5e5;
    --neutral-fill-input-alt-focus: #f7f7f7;
    --neutral-fill-layer-rest: #ffffff;
    --neutral-fill-layer-hover: #ffffff;
    --neutral-fill-layer-active: #ffffff;
    --neutral-fill-layer-alt-rest: #ffffff;
    --neutral-fill-secondary-rest: #f3f3f3;
    --neutral-fill-secondary-hover: #f7f7f7;
    --neutral-fill-secondary-active: #fbfbfb;
    --neutral-fill-secondary-focus: #f3f3f3;
    --neutral-fill-stealth-rest: #ffffff;
    --neutral-fill-stealth-hover: #f3f3f3;
    --neutral-fill-stealth-active: #f7f7f7;
    --neutral-fill-stealth-focus: #ffffff;
    --neutral-fill-strong-rest: #767676;
    --neutral-fill-strong-hover: #505050;
    --neutral-fill-strong-active: #8a8a8a;
    --neutral-fill-strong-focus: #767676;
    --neutral-foreground-rest: #212121;
    --neutral-foreground-hover: #7e7e7e;
    --neutral-foreground-active: #adadad;
    --neutral-foreground-focus: #212121;
    --neutral-foreground-hint: #767676;
    --neutral-stroke-rest: #dadada;
    --neutral-stroke-hover: #cacaca;
    --neutral-stroke-active: #e5e5e5;
    --neutral-stroke-focus: #dadada;
    --neutral-stroke-control-rest: linear-gradient(#f3f3f3 90%, #dadada 100%);
    --neutral-stroke-control-hover: linear-gradient(#ebebeb 90%, #d2d2d2 100%);
    --neutral-stroke-control-active: #ebebeb;
    --neutral-stroke-control-focus: linear-gradient(#ebebeb 90%, #d2d2d2 100%);
    --neutral-stroke-divider-rest: #efefef;
    --neutral-stroke-input-rest: linear-gradient(#f3f3f3 calc(100% - 1px), #969696 calc(100% - 1px), #969696);
    --neutral-stroke-input-hover: linear-gradient(#ebebeb calc(100% - 1px), #8e8e8e calc(100% - 1px), #8e8e8e);
    --neutral-stroke-input-active: #ebebeb;
    --neutral-stroke-input-focus: linear-gradient(#ebebeb calc(100% - 1px), #8e8e8e calc(100% - 1px), #8e8e8e);
    --neutral-stroke-layer-rest: #f3f3f3;
    --neutral-stroke-layer-hover: #f3f3f3;
    --neutral-stroke-layer-active: #f3f3f3;
    --neutral-stroke-strong-rest: #676767;
    --neutral-stroke-strong-hover: #676767;
    --neutral-stroke-strong-active: #676767;
    --neutral-stroke-strong-focus: #676767;
    --neutral-fill-inverse-rest: #131313;
    --neutral-fill-inverse-hover: #272727;
    --neutral-fill-inverse-active: #000000;
    --neutral-fill-inverse-focus: #131313;
    --neutral-fill-stealth-rest-on-neutral-fill-layer-rest: #ffffff;
    --neutral-fill-stealth-hover-on-neutral-fill-layer-rest: #f3f3f3;
    --neutral-fill-stealth-active-on-neutral-fill-layer-rest: #f7f7f7;
    --input-placeholder-rest: #767676;
    --input-placeholder-hover: #717171;
    --input-filled-placeholder-rest: #6c6c6c;
    --input-filled-placeholder-hover: #717171;
    --clear-button-hover: #f3f3f3;
    --clear-button-active: #f7f7f7;
    --tree-item-expand-collapse-hover: #e5e5e5;
    --tree-item-expand-collapse-selected-hover: #e5e5e5;
}
