@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

	/* CORES */
	.bg-black-dark { background: #0a0e0f !important; }
	.bg-black-fundo { background: #171F23 !important; }
	.bg-black-destaq { background: #2C3539 !important; }
	.bg-black-border { background: #2C3539 !important; }
	.bg-white-fundo { background: #FCFFFF !important; }
	.bg-text-primary { background: #FCFFFF !important; }
	.bg-text-secondary { background: #C1C5C7 !important; }

	.color-black-fundo { color: #171F23 !important; }
	.color-black-destaq { color: #2C3539 !important; }
	.color-black-border { color: #2C3539 !important; }
	.color-white-fundo { color: #FCFFFF !important; }
	.color-text-primary { color: #FCFFFF !important; }
	.color-text-secondary { color: #C1C5C7 !important; }

	.border-black-fundo { 
		box-shadow: 0px 0px 5px var(--black-shadow);
	 }
	
	.eve {
		font-family: Everett;
		font-weight: 400;
	}
	.eve-li {
		font-family: Everett;
		font-weight: 300;
	}
	.eve-md {
		font-family: Everett;
		font-weight: 700;
	}
	.eve-jn {
		font-family: Everett;
		font-weight: 600;
	}

	.border-green {
		border: 1px dotted rgb(66, 134, 66);
	}

	.atividade {
		cursor: pointer;
		padding: 2px 8px;
		border-radius: 5px;
		background-color: rgba(50,50,50,.9);
		transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	}

	.atividade:hover {
		background-color: rgba(50,50,50,.7);
		transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	}

	.atividade_p {
		color: rgba(250,250,250);
		font-size: 0.9rem;
	}

	.btn-base {
		letter-spacing: 0.025em;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		padding-left: 1rem;
		padding-right: 1rem;
		border-radius: 0.375rem;
		align-items: center;
		display: flex;
		background: #171F23;
		color: #FCFFFF;

		@apply space-x-2 hover:bg-black-destaq
	}

	.btn-action-white {
		letter-spacing: 0.025em;
		width: 26px;
		height: 26px;
		border-radius: 0.375rem;
		background-color: var(--white-fundo);
	}

	.btn-action-white > svg {
		color: var(--black-fundo);
	}

	.tag {
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 100%;
		height: auto;
		width: auto;
		font-size: 10px;
		background-color: var(--white-fundo);
		border-radius: 0.375rem;
		padding: 0px 6px;
		letter-spacing: 0.03rem;
	}

	.tag-sm {
		@apply tag;
		transform: scale(0.9);
		padding: 3px 10px;
		padding-top: 4px;
	}
}
