@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

	/* CORES */
	.bg-black-dark { background: #0a0e0f !important; }
	.bg-black-fundo { background: #171F23 !important; }
	.bg-black-destaq { background: #2C3539 !important; }
	.bg-black-border { background: #2C3539 !important; }
	.bg-white-fundo { background: #FCFFFF !important; }
	.bg-text-primary { background: #FCFFFF !important; }
	.bg-text-primary-hover { background: #f0f3f3 !important; }
	.bg-text-secondary { background: #C1C5C7 !important; }
	.bg-disabled {background: #99a5aa !important;}
	.bg-fundo {background: var(--fundo) !important;}
	.bg-main {background: var(--primary) !important;}

	.color-black-fundo { color: #171F23 !important; }
	.color-black-destaq { color: #2C3539 !important; }
	.color-black-border { color: #2C3539 !important; }
	.color-white-fundo { color: #FCFFFF !important; }
	.color-text-primary { color: #FCFFFF !important; }
	.color-text-secondary { color: #C1C5C7 !important; }
	.color-fundo { color: var(--fundo) !important; }
	.color-main {color: var(--primary) !important;}

	.border-black-fundo { 
		box-shadow: 0px 0px 5px var(--black-shadow);
	 }
	
	.inter {
		font-family: 'Inter', sans-serif;
		font-weight: 400;
	}
	.inter-medium {
		font-family: 'Inter', sans-serif;
		font-weight: 500;
	}
	.inter-light {
		font-family: 'Inter', sans-serif;
		font-weight: 300;
	}
	.inter-bold {
		font-family: 'Inter', sans-serif;
		font-weight: 700;
	}
	.inter-semibold {
		font-family: 'Inter', sans-serif;
		font-weight: 600;
	}

	p {
		font-size: 14px !important;
	}

	h3 {
		font-size: 16px !important;
	}

	.border-green {
		border: 1px dotted rgb(66, 134, 66);
	}

	.atividade {
		cursor: pointer;
		padding: 2px 8px;
		border-radius: 5px;
		background-color: rgba(50,50,50,.9);
		transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	}

	.atividade:hover {
		background-color: rgba(50,50,50,.7);
		transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	}

	.atividade_p {
		color: rgba(250,250,250);
		font-size: 0.9rem;
	}

	/* BUTTON */
	.btn-base {
		cursor: pointer;
		letter-spacing: 0.025em;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		padding-left: 1rem;
		padding-right: 1rem;
		border-radius: 0.375rem;
		align-items: center;
		display: flex;
		background: var(--black-fundo);
		color: var(--white-fundo);

		@apply space-x-2 hover:bg-black-destaq
	}

	.btn-base > p {
		height: 19px;
	}
	
	.btn-base.white {
		@apply hover:bg-white-fundo;
		color: var(--black-fundo) !important;
		background: var(--white-fundo);
	}
	.btn-base.white > p {
		color: var(--black-fundo) !important;
	}
	.btn-base.white > svg {
		color: var(--black-fundo) !important;
	}
	
	.btn-base.loading {
		pointer-events: none;
		background: var(--disabled);
	}
	.btn-base.white.loading{
		background: var(--disabled-white);
	}

	.btn-sm {
		cursor: pointer;
		display: flex;
		align-items: center;
		letter-spacing: 0.025em;
		height: 24px;
		border-radius: 0.375rem;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		font-size: 14px;
		line-height: 24px;
		background-color: var(--black-fundo);
		@apply space-x-1;
	}

	.btn-sm > svg {
		width: 22px;
		height: 22px;
		margin-left: -4px;
	}
	
	.btn-sm > p {
		color: var(--white-fundo) !important;
	}

	.btn-sm.white {
		background-color: var(--white-fundo);
	}

	.btn-sm.white > p {
		color: var(--black-fundo) !important;
	}
	.btn-sm.white.loading{
		background: var(--disabled-white);
	}
	.btn-sm.loading {
		pointer-events: none;
		background: var(--disabled);
	}

	.btn-action-white {
		letter-spacing: 0.025em;
		width: 26px;
		height: 26px;
		border-radius: 0.375rem;
		background-color: var(--white-fundo);
	}

	.btn-action-white > svg {
		color: var(--black-fundo);
	}
	/* BUTTON */

	.tag {
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 100%;
		height: auto;
		width: auto;
		font-size: 10px;
		background-color: var(--white-fundo);
		border-radius: 0.375rem;
		padding: 0px 6px;
		letter-spacing: 0.03rem;
	}

	.tag-sm {
		@apply tag;
		transform: scale(0.9);
		padding: 3px 10px;
		padding-top: 4px;
	}

	.tag-md {
		@apply tag;
		font-size: 12px;
		padding: 3px 10px;
		padding-top: 4px;
	}

	.modal {
		background-color: var(--black-fundo);
		border-radius: 10px;
	}


	.divisor {
		position: relative;
		display: flex;
		width: 100%;
		height: 1px;
		border-bottom: 1px dotted var(--text-secondary);
		margin: 8px 0px 10px 0px;
	}
	
	.divisor::after {
		content: '';
		position: absolute;
		right: 0px;
		width: 5px;
		height: 2px;
		background: linear-gradient(to right, transparent, var(--black-destaq));
	}
	
	.divisor::before {
		content: '';
		position: absolute;
		left: 0px;
		width: 5px;
		height: 2px;
		background: linear-gradient(to left, transparent, var(--black-destaq));
	}

	/* MENU */
	.menu {
		display: flex;
		flex-direction: column;
		position: absolute;
		outline: none;
		width: auto;
		height: auto;
		background-color: var(--black-destaq);
		z-index: 9999;
		color: white;
		padding: 5px 0;
		box-shadow: 2px 2px 13px rgba(200,200,200,.1);
		@apply rounded-md
	}
	.menu > div {
		display: flex;
		align-items: center;
		position: relative;
		cursor: pointer;
		padding: 6px 24px 6px 14px;
	}
	.menu > div > svg {
		margin-right: 12px;
	}
	.menu > div:hover::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,.1);
	}
	/* MENU */

	/* MENU WRAPPER */
	.menu-wrapper {
		display: flex;
		flex-direction: column;
		position: absolute;
		outline: none;
		width: auto;
		height: auto;
		background-color: white;
		z-index: 9999;
		color: white;
		padding: 5px 0;
		box-shadow: 0px 2px 13px rgba(138, 135, 135, 0.1),
		0px 6px 13px rgba(138, 135, 135, 0.1);
		@apply rounded-md
	}
	.menu-wrapper > div {
		display: flex;
		align-items: center;
		position: relative;
		cursor: pointer;
		padding: 6px 24px 6px 14px;
	}
	/* MENU WRAPPER */

	/* TEXTFIELD */
	.textfield {
		height: 38px;
		position: relative;
	}
	.textfield > input {
		width: 100%;
		border-bottom: 1px solid var(--black-destaq);
	}
	.textfield::before {
		content: "";
		display: flex;
		position: absolute;
		width: 100%;
		bottom: 0;
		height: 1px;
		border-bottom: 1px solid var(--text-secondary);
		transform: scaleX(0);
		transition: transform 225ms cubic-bezier(0.19, 1, 0.22, 1);
	}
	.textfield.error::before {
		border-bottom: 1px solid transparent;
	}
	.textfield.error input:placeholder-shown {
		border-bottom: 1px solid rgba(219, 53, 53, 0.753);
	}

	.textfield.error input:placeholder-shown + p {
		color: rgb(255, 70, 70) !important;
	}

	.textfield:focus-within::before {
		transform: scaleX(1);
		transition: transform 225ms cubic-bezier(0.19, 1, 0.22, 1);
	}

	.textfield p {
		top: 0;
		pointer-events: none;
		color: var(--text-secondary) !important;
		position: absolute;
		transform: translateY(10px);
		transition: transform 225ms cubic-bezier(0.19, 1, 0.22, 1);
	}

	.textfield input[type="text"]:not(:placeholder-shown) + p, .textfield:focus-within p {
		transform: scale(0.83) translateY(-10px);
		transform-origin: left;
		transition: transform 225ms cubic-bezier(0.19, 1, 0.22, 1);
	}

	.textfield:focus-within p {
		color: var(--white-fundo) !important;
	}
	  
	/* .textfield input[type="text"]:placeholder-shown {

	} */
	
	.textfield input[type="text"] {
		margin-top: 9px;
		padding: 0 4px;
		height: 28px;
		background-color: transparent;
		color: var(--white-fundo);
		outline: none;
	}

	.textfield input:required + p::after {
		content: ' *';
	}

	.colorfield input[type="color"] {
		width: 30px;
		height: 25px;
		border: none;
		background-color: transparent;
	}

	.colorfield {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: flex-end;
		height: 38px;
	}

	.colorfield p {
		top: 0;
		transform: scale(0.9) translateY(-7px);
		color: var(--text-secondary) !important;
		position: absolute;
	}
	/* TEXTFIELD */

	/* TAG */

	.tag-field {
		transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
		opacity: 0.9;
		height: 28px;
		@apply flex mr-3 mb-3 items-center px-3 rounded bg-black-destaq cursor-pointer
	}

	.tag-field:hover {
		transform: translateY(-1px);
		opacity: 1;
		transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
	}

	.tag-field > span {
		@apply flex w-3 h-3 rounded-full mr-2
	}

	.tag-field > input {
		@apply mr-2
	}
	.tag-field > :nth-child(2) {
		outline: none;
	}
	.tag-field{
		outline: none;
	}
	.tag-field > p, .tag-field > :nth-child(2) {
		color: var(--text-primary) !important;
		margin-right: 5px;
		font-size: 14px;
	}

	.tag-field.active {
		border: 1px solid var(--white-fundo);
	}

	/* TEXTAREA */

	.textarea {
		position: relative;
		border: 1px solid var(--black-destaq);
		border-radius: 10px;
		padding: 3px;
	}

	.textarea:focus-within {
		border: 1px solid var(--text-secondary);
	}

	.textarea::before {
		pointer-events: none;
		content: '';
		position: absolute;
		width: calc(100% - 13px);
		top: 0;
		height: 25px;
		border-radius: 10px;
		background-color: var(--black-fundo);
	}
	

	.textarea > p {
		pointer-events: none;
		color: var(--text-secondary) !important;
		top: 5px;
		left: 13px;
		position: absolute;
		transition: transform 225ms cubic-bezier(0.19, 1, 0.22, 1);
	}

	.textarea.error > p {
		color: rgb(255, 70, 70) !important;
	}

	.textarea.error textarea:not(:placeholder-shown) + p {
		color: var(--text-secondary) !important;
	}

	.textarea textarea:required + p::after {
		content: ' *';
	}

	.textarea textarea:not(:placeholder-shown) + p, .textarea:focus-within p {
		transform: scale(0.85);
		transform-origin: left;
		transition: transform 225ms cubic-bezier(0.19, 1, 0.22, 1);
	}

	.textarea:focus-within p {
		color: var(--white-fundo) !important;
		transition: transform 225ms cubic-bezier(0.19, 1, 0.22, 1);
	}

	.textarea > textarea {
		background-color: var(--black-fundo);
		outline: none;
		resize: none;
		color: var(--text-primary);
		padding-top: 25px;
		padding-left: 15px;
		font-size: 15px;
	}

	/* FRAMER */
	.framer {
		animation: framer-animation 0.4s ease-out;
	}
	
	@keyframes framer-animation {
		from {opacity: 0;}
		to {opacity: 1;}
	}
	/* FRAMER-END */
}
