.root_main_todo {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    flex: 1;
    height: calc(100vh - 360px);
}

.item_list {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.item_list_title > h3 {
    display: flex;
    align-items: center;
    color: var(--black-fundo) !important;
}

.item_list_title > h3::before {
    content: '';
    display: flex;
    width: 8px;
    height: 8px;
    border-radius: 20px;
    margin-right: 8px;
}

.item_list:nth-child(1) .item_list_title > h3::before {
    background-color: rgb(102, 166, 250);
}
.item_list:nth-child(2) .item_list_title > h3::before {
    background-color: rgb(240, 177, 105);
}
.item_list:nth-child(3) .item_list_title > h3::before {
    background-color: rgb(102, 233, 124);
}

.item_list_title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 18px;
}

.item_list_board {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    min-height: 300px;
    margin: 0px 5px;
    border-radius: 0.375rem;
    z-index: 1;
    max-height: calc(100% - 80px);
    overflow-y: scroll;
}

.item_list_border {
    display: flex;
    position: absolute;
    width: calc(100% - 20px);
    height: 100%;
    left: 10px;
    top: 0px;
    z-index: -1;
    border-radius: 0.375rem;
}
.item_list_border[class*="active"] {
    border-style: dashed;
    border-width: 2px;
}
.item_list:nth-child(1) .item_list_border[class*="active"] {
    border-color: rgb(102, 166, 250);
    background-color: rgb(102, 166, 250, .08);
}

.item_list:nth-child(2) .item_list_border[class*="active"] {
    border-color: rgb(240, 177, 105);
    background-color: rgb(240, 177, 105, .08);
}

.item_list:nth-child(3) .item_list_border[class*="active"] {
    border-color: rgb(102, 233, 124);
    background-color: rgb(102, 233, 124, .08);
}



.board_item {
    cursor: grab;
    display: flex;
    z-index: 1;
    flex-direction: column;
    background-color: white;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 0.275rem;
    box-shadow: 0px 4px 10px #f0f2f5;
}

.board_item_header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.board_item_header > h3 {
    color: var(--black-fundo) !important;
}

.board_item_header > span {
    display: flex;
    position: relative;
    margin-right: 4px;
    width: 4px;
    height: 4px;
    border-radius: 20px;
    background-color: #cccfd3;
}
.board_item_header > span::after {
    content: '';
    display: flex;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 20px;
    left: -6px;
    background-color: #cccfd3;
}
.board_item_header > span::before {
    content: '';
    display: flex;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 20px;
    right: -6px;
    background-color: #cccfd3;
}

.board_item > h5 {
    color: #85888d !important;
    font-weight: 300;
}