.atividadesList {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 300px;
    margin-top: 1.25rem;
    border-radius: 15px;
    box-shadow: 5px 5px 13px rgba(200, 200, 220, .2),
        inset 5px 5px 12px #fbfdffda;
}

.atividadesList .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 20px 18px;
}

.atividadesList .header>h4 {
    font-weight: 500;
    color: var(--primary) !important;
}

.atividadesList .header>div>h4 {
    font-weight: 500;
    color: var(--primary) !important;
}

.atividade_list {
    display: flex;
    flex-direction: column;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding: 0.25rem 1.25rem;
    overflow-y: auto;
}

.atividade_list::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

.atividade_item {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}

.atividade_item>div>h4 {
    font-size: 14px !important;
    color: var(--black-fundo) !important;
    margin-left: 14px;
    margin-right: 2px;
}

.atividade_item>div>h5 {
    font-size: 10px !important;
    color: var(--black-fundo) !important;
}

.atividade_item::before {
    content: '•';
    font-size: 14px;
    position: absolute;
    color: var(--primary);
}

.atividade_item[aria-checked="true"]::before {
    color: rgb(134, 219, 134);
}

.atividade_item[aria-checked="true"]> :nth-child(1),
.atividade_item[aria-checked="true"]> :nth-child(2) {
    opacity: 0.5;
}

.atividade_item:hover> :nth-child(1),
.atividade_item:hover> :nth-child(2) {
    opacity: 0.5;
}

.atividade_item[aria-checked="true"] .lineIndicator {
    opacity: 0.3;
    transform: scaleX(1);
    transition: all 0.3s cubic-bezier(.62, -0.01, .62, .86);
    background-color: rgb(45, 54, 45);
}

.atividade_item:hover .lineIndicator {
    opacity: 0.3;
    transform: scaleX(1);
    transition: all 0.3s cubic-bezier(.62, -0.01, .62, .86);
}

.lineIndicator {
    display: flex;
    position: absolute;
    height: 1px;
    left: -5px;
    width: calc(100% + 5px);
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--black-destaq);
    opacity: 0;
    transition: all 0.3s cubic-bezier(.62, -0.01, .62, .86);

}

.atividade_option,
.atividades_option {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 6px;
    cursor: pointer;
}

.atividades_option {
    margin-right: 2px;
}

.atividade_option>svg,
.atividades_option>svg {
    color: var(--primary);
}

.atividades_option>svg {
    font-size: 18px;
}

.atividade_option:hover::before,
.atividades_option:hover::before {
    transform: scale(1);
    transition: all 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.atividade_option::before,
.atividades_option::before {
    content: '';
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    border-radius: 30px;
    background-color: rgba(200, 200, 200, .2);
    transition: all 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(0);
}

.inputCustomActivity {
    display: flex;
    width: 100%;
    padding: 3px 6px 3px 10px;
    border-radius: 17px;
    background-color: var(--roxinho);
    color: var(--black-destaq);
    font-size: 14px;
}

.inputCustomActivity::placeholder {
    color: var(--primary);
    opacity: 0.7;
}

.inputCustomActivity:focus {
    outline-color: var(--primary);
}