.select > p {
    position: absolute;
    transform: scale(0.83) translateY(-18px);
    color: var(--text-secondary) !important;
}

.select {
    display: flex;
    margin-top: 7px;
}

.select fluent-select  {
    outline: none !important;
    min-width: 130px;
    width: auto;
}

.select fluent-option > div {
    display: flex;
    align-items: center;
}

.select fluent-option:not(:last-of-type) > div > p {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--black-fundo) !important;
}


.select fluent-option > div > span {
    display: flex;
    min-width: 12px;
    min-height: 12px;
    border-radius: 5px;
    margin-right: 10px;
}

.select input:required + p::after {
    content: ' *';
}

.select_option {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    right: 3px;
    top: 0;
    height: 32px;
    color: var(--black-destaq) !important;
}

.select_option > p {
    font-weight: 500;
    color: var(--black-destaq) !important;
}

.select_option > svg {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}