.content_atividades {
    width: 90vw;
    max-width: 500px;
    padding: 0 .5rem;
}

.atividade_item {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    margin: 20px 3px;
    border: 1px solid var(--black-border);
    border-radius: 10px;
    padding: 10px 10px 15px 15px;
}

.atividade_item:hover{
    box-shadow: 0px 0px 10px rgba(150,150,150,.1);
}
.atividade_item [class*="icon"] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.atividade_item [class*="icon"]::before {
    content: '';
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: rgba(150,150,150,.15);
    transform: scale(0);
    z-index: -1;
    border-radius: 20px;
}
.atividade_item [class*="icon"]:hover::before {
    transform: scale(1);
}