.tour {
    cursor: pointer;
    display: flex;
    position: absolute;
    bottom: 40px;
    right: 20px;
    width: auto;
    height: auto;
    padding: 3px 15px;
    border-radius: 15px;
    color: white;
    z-index: 999;
    letter-spacing: 0.05em;
    background-color: rgb(104, 30, 153);
    box-shadow: 1px 1px 8px rgb(73, 24, 105);
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
}
.tour:hover {
    letter-spacing: 0.09em;
    background-color: rgb(114, 42, 161);
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.tour > svg {
    margin-right: 8px;
    filter: invert(40%) sepia(100%) saturate(3600%) hue-rotate(259deg) brightness(90%) contrast(60%);
}