.main {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    width: calc(100% - 350px);
    height: 100%;

}

.area {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 150px;
    min-height: 350px;
    height: auto;
    /* border: 1px solid red; */
}
