.main {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    width: calc(100% - 350px);
    height: 100%;
}

.area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100%;
    height: auto;
    width: 100%;
}

.area>* {
    margin: 2px 2px;
}

.root_table {
    border-collapse: separate;
    border-spacing: 10px 5px;
    width: 100%;
}

.table {
    position: relative;
    max-height: calc(100vh - 140px);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0px 30px 0px 10px;
}

.root_table>tbody>tr>td {
    /* border: 1px solid black;  */
    background-color: var(--table-td);
    min-width: 90px;
    height: 25px;
    border-radius: 4px;
}

.root_table>tbody>tr>td:last-child {
    /* background-color: rgb(231, 227, 221); */
    min-width: 65px;
}

.root_table>tbody>tr>td:nth-child(2) {
    /* background-color: rgb(231, 227, 221); */
    min-width: 65px;
}

.root_table>tbody>tr>td:first-child {
    max-width: 30px;
    min-width: 30px;
    text-align: center;
    background: transparent;
}

.root_table>tbody>tr:first-child>td {
    background: transparent;
    text-align: center;
    letter-spacing: 0.05rem;
}

/* .root_table > tbody > tr > td:last-child, .root_table > tbody > tr > td:first-child {
    width: 90px;
} */

.actualDay {
    box-shadow: 0px 0px 2px 1px var(--primary);
    background-color: #f4f3ff !important;
}

.card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    cursor: pointer;
    background-color: var(--white-fundo);
    border-radius: var(--border-radius);
    padding: 0.25rem 0.5rem;
    box-shadow: 0px 0px 10px rgba(115, 113, 161, 0.08);
}

.card>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card>div>span>svg {
    color: var(--text-secondary);
    z-index: 1;
}

.card>div>span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card>div>span::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: var(--border-radius);
    z-index: 0;
    transform: scale(0);
    background-color: rgba(115, 113, 161, 0.06);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.card:hover>div>span::before {
    transform: scale(1);
}

.card>div>h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
    color: var(--black-fundo) !important;
    font-size: 0.8rem !important;
}

.card>p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    color: var(--black-fundo) !important;
    font-size: 0.62rem !important;
}

.card>span {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0.375rem;
}