.main {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}

.area {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 150px;
    min-height: 350px;
    height: auto;
    /* border: 1px solid red; */
}